<div id="poststuff">
    <div id="post-body" class="metabox-holder columns-1">
        <div id="post-body-content">
            <div class="meta-box-sortables ui-sortable">
                <div class="postbox">
                    <h2><span>{{ "page_integration_tab3_headline"|i18n }}</span></h2>
                    <div class="inside">
                        <span><button class="button-primary" name="Login">{{ "page_integration_tab3_button_back"|i18n }}</button></span>
                        <span><button class="button-primary" name="Login">{{ "page_integration_tab3_button"|i18n }}</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="clear">
</div>