<form action="{{ action_url }}" method="POST">
    <input type="hidden" name="action" value="polyshapes_login">

    <br/><br/>
    <label for="polyshapes_login_email">email:</label>
    <input required type="text" id="polyshapes_login_email" name="email" value=""/>
    <br/><br/>
    <label for="polyshapes_login_password">password:</label>
    <input required type="text" id="polyshapes_login_password" name="password" value=""/>
    <br/><br/>
    <input type="submit" name="submit" value="submit"/>

</form>
