<h1>Cables Dashboard</h1>

{% if not api_key %}
    In order to import your patches from cables, you need to be a registered cables member and enter your cables API-key in the settings area
{% else %}
    {% if importedPatches is empty %}
        No imported Patches yet
    {% else %}
        Recently imported:
        <p>
        {% for patch in importedPatches %}
            {{ patch.name }}
        {% endfor %}
        </p>
    {% endif %}
{% endif %}
