<div id="theme-options-wrap">
    <form method="post" action="options.php">

        {{ fields | raw}}
        {{ sections | raw }}

        <!--
        <p class="submit">
            <input name="Submit" type="submit" class="button-primary" value="{{ save }}" />
        </p>
        -->
    </form>
</div>
