{% include '_partials/polyshape.twig' %}
<div class="shortcode">
    Shortcode: [polyshape id='{{ shape.id }}']
</div>

<form method="POST" action="{{ action_url }}">

    <input type="hidden" name="action" value="polyshapes_set_shape_options">
    <input type="hidden" name="shape" value="{{ shape.id }}">

    <table class="form-table">
        <tbody>
        <tr>
            <th scope="row"><label for="element_replacement">Activate Element Replacement:</label></th>
            <td><input name="element_replacement" id="element_replacement" type="checkbox"{% if replacesElements %} checked="checked"{% endif %}></td>
        </tr>
        <tr>
            <th scope="row"><label for="target_selector">Target Element Id (without #, can be comma-seperated):</label></th>
            <td><input name="target_selector" id="target_selector" type="text" value="{{ targetSelectors }}"></td>
        </tr>
        </tbody>
    </table>

    <p class="submit">
        <input name="Submit" type="submit" class="button-primary" value="Save Changes">
    </p>
</form>

