<p>
    <h3><span>{{ "page_dashboard_lateststyles_headline"|i18n }}</span></h3>
    <p>{{ "page_dashboard_lateststyles_text"|i18n }}</p>
    <button class="button-primary">{{ "page_dashboard_lateststyles_button"|i18n }}</button>
</p>
